<div id="top-lang" class="btn-group">
    <button class="btn btn-mini btn-inverse"><i class="icon-flag"></i></button>
    <button class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for lang, locale in locales %}
            <li><a href="{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale})) }}">{{ lang|capitalize|trans({}, "frontend") }}</a></li>
        {% endfor %}
    </ul>
</div><!--/#top-lang -->