parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     sf2helpdesk_dev
    database_user:     jat_dev
    database_password: jat_dev

    mailer_transport:  gmail
    mailer_host:       smtp.gmail.com
#    encryption:        ssl
#    auth_mode:         login
    mailer_user:       
    mailer_password:   

    locale:            en
    locales:
      spanish:         es
      english:         en

    secret:           46g9641c1b0643908d6ee5d8dfcd33f9dff81783 
