<h3>{{ 'frontend.aboutus.header'|trans({}, "frontend") }}</h3>
<p>{{ 'frontend.aboutus.text.intro'|trans({}, "frontend") }}</p>
<p class="lead muted">{{ 'frontend.aboutus.text.slogan'|trans({}, "frontend") }}</p>