{% extends "::base.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets  output="css/style-frontend.css"
                    "bundles/jatfrontend/css/style-base.css"
                    "bundles/jatfrontend/css/style-responsive.css"
                    filter="cssrewrite,?yui_css" %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts output="js/script-frontend.js"
                   "@JatFrontendBundle/Resources/public/js/jquery-1.8.0.min.js"
                   "@JatFrontendBundle/Resources/public/js/bootstrap.min.js"
                   %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="body-wrapper" class="row-fluid">

        {% block header %}{% endblock header %}

        <div id="content-wrapper" class="row-fluid">

            {# Full page #}
            {% block section %}{% endblock %}

            {# Page with sidebar #}
            <div id="sidebar-page" class="row-fluid">
                {% block article %}{% endblock %}
                {% block aside %}{% endblock %}
            </div><!--/#sidebar-page -->

        </div><!--/#content-wrapper -->

    </div><!--/#body-wrapper -->
{% endblock body %}