{#<div id="top-login">#}
    <a class="btn btn-mini" href="{{ path('sonata_admin_dashboard') }}">
        <i class="icon-user icon-white"></i> {{ app.user.username }} / {{ group }}
    </a>
{#</div>#}