<a class="auth-login" href="{{ path('jat_frontend_home') }}">
    <label class="label label-important">
        <i class="icon-user icon-white"></i>
        {{ app.user.username }} / {{ group }}
    </label>
</a>